@font-face {
  font-family: "carmen-bold";
  src: url("../fonts/Carmen-Sans-Bold.woff") format("woff");
}
@font-face {
  font-family: "carmen-exbold";
  src: url("../fonts/Carmen-Sans-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "carmen-heavy";
  src: url("../fonts/Carmen-Sans-Heavy.woff") format("woff");
}
